<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.control">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".StairsClass" />
        <activity android:name=".Projector303Class" />
        <!--<activity android:name=".ControlClass" />-->

        <activity android:name=".Classroom2ndClass" />
        <activity android:name=".Classroom3rdClass" />
        <activity android:name=".Classroom4thClass" />

        <activity android:name=".SecondFloorClass" />
        <activity android:name=".ThirdFloorClass" />
        <activity android:name=".FourthFloorClass" />

        <activity android:name=".Hallway2FClass" />
        <activity android:name=".Hallway3FClass" />
        <activity android:name=".EditAccountClass" />
        <activity android:name=".AddAccountClass" />
        <activity android:name=".Cr2FClass" />
        <activity android:name=".Cr3FClass" />
        <activity android:name=".DeleteAccountClass" />
        <activity android:name=".HistoryClass" />

        <activity android:name=".Rm303Class" />
        <activity android:name=".Aircon303Class" />




    </application>

</manifest>